body{
    
    background-image: linear-gradient(yellow,violet);
       border:2px solid black;
       text-decoration: none;
       text-align: center;
       justify-content: center;
       display: inline-block;
}
#container{
    height:100vh;
    width:100vw;
 
    justify-content:center ;
    align-items: center;
    display:flex;
    text-align: center;
    align-content: center;
    
}
#div1{
    background-color: blueviolet;
    height: 100px;
    width: 100px;

}
#div2{
  background-color: rgb(226, 43, 43);
    height: 100px;
    width: 100px;
}
#div3{
  background-color: rgb(226, 220, 43);
    height: 100px;
    width: 100px;
}
#div4{
  background-color: rgb(165, 226, 43);
    height: 100px;
    width: 100px;
}
#div5{
  background-color: rgb(0, 82, 236);
    height: 100px;
    width: 100px;
    display: block;
}
#container h1{
    text-justify: newspaper;
    color: blue;
    display: inline;
    align-self:self-end;